body{
    background-color: rgb(193, 193, 218);
    margin: 5%;
    padding: 2%;
    text-align:center;
}
.box{
    border: 1px solid rgb(193, 193, 218);
    border-radius: 0.03px;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06); 
}
.list-result {
    
    margin: 5%;
    padding: 2%;
    border: 20px;
    border-radius: 25px;
    box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06); 
    border: 1px solid rgb(193, 193, 218);
    background-color: rgb(199, 158, 223);


}
div{
    display: inline-block;
    padding: 12px;
}
button,input[type=button], input[type=submit], input[type=reset] {
    background-color: rgb(154, 154, 216);
    font-size: 17px;
    border-radius: 12px;
    border: none;
}
.list{
    margin: 5%;
    padding: 2%;
    border: 20px;
}
input{
    background-color: rgb(218, 231, 243);
    height: 20px;
    border: none;
}
label , p{
    font-size:large;
}